*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties*/

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;
    
    --fw-reg: 300;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

strong { font-weight: var(--fw-bold) }

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section_title {
  margin-bottom: .25em;
}

.section_title-about {
  font-weight: var(--fw-reg);
}

.section_subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section_subtitle-about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

/* Header */

nav{display: none;}

/* about me */

.about {
  max-width: 1000px;
    margin: 0 auto;
}

.about_img {
  max-width: 200px;
  float:right;
}  

/*  Organisation section  */

.org {
  background-color: var(--clr-dark);
  text-align: center;
  color: var(--clr-light);
  
}

.section_title-org {
  color: var(--clr-accent);
  position: relative;
  margin-bottom: 1em;
}

th {
  width: 33%;
  font-family: var(--ff-primary);
  color: var(--clr-light);
  padding-left: 20px;
}

td {
  text-align: center;
  color: var(--clr-light);
  font-family: var(--ff-primary);
  padding-left: 20px;
}

/* Skills */

.container {
  width: 70%;
  background-color: var(--clr-dark);
}

.skills_body {
  font-family: var(--ff-primary);
}

.container .skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--clr-dark);
  font-weight: bold;
}

.creative {width: 90%; background-color: var(--clr-accent);}
.code {width: 70%; background-color: var(--clr-accent);}
.teach {width: 80%; background-color: var(--clr-accent);}
.eatSleep {width: 98%; background-color: var(--clr-accent);}

/* Random facts */

.facts {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.section_title-facts {
  color: var(--clr-accent);
  background-color: var(--clr-light);
}
.facts_img {
  float: right;
}

.section_subtitle-gallery {
    background-color: var(--clr-accent);
    margin: 1em 0;
}

/* comments */

.comments{
    background-color: var(--clr-accent);
}


/* footer */

footer {
  background-color: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

footer a { color: inherit }

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1em 0 0;
}

.social-list__item {
  margin: 0 .5em;
}